[submodule "gettingimagesau"]
	path = gettingimagesau
	url = https://gitlab.com/UNPARALLEL/H2020/smartclide/Demos/gettingimagesau
[submodule "gettingimagefin"]
	path = gettingimagefin
	url = https://gitlab.com/UNPARALLEL/H2020/smartclide/Demos/gettingimagefin
